.container {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.editorContainer {
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid gray;
}

.editor {
    width: 50rem;
    height: 30rem;
}

.resultContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
    color: black;
    background-color: #1e1e1e;
    border: 2px solid gray;
    color: #d4d4d4;
}

.resultIcon {
    padding-right: 1rem;
    padding-left: 0.45rem;
    cursor: pointer;
}

.resultList {
    display: flex;
    flex-direction: column;
}
