.container {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.editorContainer {
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid gray;
}

.editor {
    width: 50rem;
    height: 30rem;
}